* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
  }
  
  .container {
    background-color: #f4f4f4;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 36px;
    }
  
    p {
      font-size: 18px;
    }
  }